<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, consequuntur sed cupiditate laudantium non asperiores hic accusantium mollitia et voluptates. Tempora quaerat non fugit eaque, vel vero voluptates voluptatem! Fugiat debitis impedit aut. Eveniet explicabo rem asperiores, vel, sunt libero magni alias earum ea facilis ullam voluptatibus molestias dolore. Aspernatur laboriosam officia eligendi facere veritatis omnis molestiae non delectus nihil libero temporibus sint laudantium repudiandae quia deleniti totam tenetur doloremque voluptatum labore, dolor soluta. Quidem consectetur veritatis earum neque cumque ullam doloremque sit doloribus tenetur velit. Consequuntur, neque repellat! Modi architecto quis laborum itaque dolorem doloremque neque quam repellendus alias. </h2> 


<router-outlet></router-outlet>
